<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/blog.css" />
    <title>Blogs</title>
  </head>
  <body>
    <header>
      <div class="logo">Helping <b style="color: #06c167">Hand</b></div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/blogs" class="active">Blogs</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <div class="Img_contain">
      <img src="img/image_7.jpeg" alt="Blog" />
      <div class="centered">BLOGS</div>
    </div>

    <div class="blog_title">Helping  <span class="title_hand">Hands</span> 
      Blogs</div>

    <main class="Main_Conatiner">
      <!-- card 1 code  -->

      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_1.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>
      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_1.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>
      <!-- 2nd card code started -->
      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_1.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>

      <!-- .3rd card code -->
      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_2.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>
      <!-- 4th card code start here -->
      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_3.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>
      <!-- 5th card code start here  -->
      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_4.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>
      <!-- 6th card code start here -->
      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_5.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>
      <!-- 7th card code start here -->
      <div class="card_containt">
        <a href="#" class="Card_IMg">
          <img src="img/image_6.jpeg" alt="Card 1 Image" loading="lazy" 
          class="Img_1"/>
        </a>

        <div class="card_title">
          <a href="#" class="title_anchor">
            <h2 class="Card_title_H">Lorem ipsum dolor adipisicing elit.</h2>
          </a>

          <p class="Card_Body">
            Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Libero amet quia modi?, adipisicing
            elit. Provident, voluptates?
          </p>
        </div>
        <div class="card_Footer">
          <div class="author_container">
            
            <div class="author_Avatar_Container">
              <img src="https://api.dicebear.com/7.x/notionists/svg?seed=John?size=64x" alt=""
              loading="lazy">
             </div>
          <div class="author_info_Conatint">
            <span class="author_name">
              Priya Bharti
            </span>
            <span class="author_date">
              Sept 19,2021
            </span>
          </div>
          </div>
        </div>
      </div>
      
    </main>
    
    <footer class="footer">
      <div class="container">
        <h3>Support Us</h3>
        <p>Help us continue our work by making a donation.</p>
        <a href="/donatefood" class="donate-button">Donate Now</a>
      </div>
    </footer>
    



    <script>
      hamburger = document.querySelector(".hamburger");
      hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar");
        navBar.classList.toggle("active");
      };
    </script>
  </body>
</html>
