<!DOCTYPE html>
<html>
<head>
	<title>Images Gallery</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/gallery.css" />
	<script src="https://use.fontawesome.com/2a58df1365.js"></script>
</head>

<body>
<!-- NAVBAR -->
<header>
  <div class="logo">Helping <b style="color: #06C167;">Hands</b></div>
  <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
  </div>
  <nav class="nav-bar">
      <ul>
          <li><a href="#home" >Home</a></li>
          <li><a href="about.html" >About</a></li>
          <li><a href="contact.html" >Contact</a></li>
          <li><a href="blogs.html" >Blogs</a></li>
          <li><a href="index.html" >Gallery</a></li>
      </ul>
  </nav>
</header>

<!-- JUMBOTRON -->
<div class="container">
	<div class="jumbotron">
		<h1><i class="fa fa-camera-retro" aria-hidden="true"></i></span> Images Gallery</h1>
</div>

<!-- IMAGES -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image1"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image2"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image3"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image4"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image5"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image6"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image7"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image8"></div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="image image9"></div>
      </div>
    </div>
  </div>
</div>




<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>