<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatable" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/home.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="main_wrapper">
    <header class="header">
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">ABOUT</a>
        <a href="#">SERVICES</a>
        <a href="#">BLOGS</a>
        <a href="#">HOW TO HELP</a>
        {{!-- <a href="/login">LOGIN</a> --}}

      </nav>
      <from action="#" class="serach_bar">
        <input type="text" placeholder="Search.." />
        <button type="submit">
          <i class="bx bx-search"></i>
        </button>
      </from>
    </header>
    <div class="Container">
      <div class="content">
        <h2 class="logo"><i class="bx bx-donate-heart"></i>Helping Hand</h2>
        <div class="text">
          <h2>
            Welcome! <br>
            <span>to Helping Hand</span>
          </h2>
        <p>Every act of kindness, no matter how small, has the potential to create a better world.
           Join us in making a positive impact today. Start your journey with Helping Hand ,
           and together, we can transform lives, one donation at a time.</p>
          <div class="social_icons">
            <a href="#"><i class="bx bxl-linkedin"></i></a>
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="logreg_box">
      </div>
    </div>
    
    
  </div>
</section>  
<!-- <section class="second_wrapper">
  
   <div class="intro">
    </div>
   </section>  -->
</body>
</html>