<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    {{!-- <h1>Hello See our minor</h1> --}}
     <header>
        <div class="container">
            <h1>Welcome to Our Donation System</h1>
            <p>Choose Your Role:</p>
            <div class="buttons">
                <a href="donor-registration.html" class="btn">Register as a Donor</a>
                <a href="volunteer-registration.html" class="btn">Register as a Volunteer</a>
            </div>
        </div>
    </header>

</body>
</html>